.header {
  background: $lightPurple;
  color: $veryDarkPurple;
  &__top {
    display: none;
    .left {
      background: $lightPurple;
      flex: 1;
      padding: 1rem 2rem;
      .tagline {
        margin-bottom: 0;
        font-weight: bold;
      }
    }
    .right {
      margin-left: auto;
      display: flex;
      .call {
        font-weight: 600;
        background: $lightPurple;
        a {
          padding: 1rem 3rem;
          color: white;
          text-decoration: none;
          display: block;
        }
      }
      .donate {
        background: $lightPurple;
        padding: 1rem 4rem;
        height: 100%;
        display: block;
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: background 0.3s ease-in-out;
        &:hover {
          background: $mediumPurple;
        }
      }
    }
    @media (min-width: $sm) {
      display: flex;
    }
  }
  &__desktop {
    display: none;
    padding: 2rem 3rem;
    align-items: center;
    @media (min-width: $sm) {
      display: flex;
      .logo {
        img {
          height: 4rem;
        }
      }
    }
    @media (min-width: $md) {
      .logo {
        img {
          height: 6rem;
        }
      }
    }
  }
  &__nav {
    margin-left: auto;
  }

  // Navigation Menu
  .nav__links {
    list-style-type: none;
    display: flex;
    .menu-item {
      position: relative;
      padding-bottom: 0.5rem;
      &:not(:last-of-type) {
        margin-right: 1rem;
      }
      a {
        color: $veryDarkPurple;
        text-decoration: none;
        font-weight: bold;
        font-size: $h6;
      }
      // Show Drop Down Menu
      &:hover .sub-menu {
        display: flex;
        transform: rotateX(0deg);
      }
      // Drop Down Menu
      .sub-menu {
        // display: none;
        transform-origin: top center;
        transform: rotateX(90deg);
        flex-direction: column;
        list-style-type: none;
        position: absolute;
        background: $darkPurple;
        z-index: 10;
        overflow: hidden;
        min-width: 100%;
        gap: 0;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        box-shadow: 0 0 20px hsla(281, 26%, 50%, 0.25);
        transition: transform 0.15s ease-in-out;
        .menu-item {
          margin-right: 0;
          padding-bottom: 0;
          a {
            color: white;
            white-space: nowrap;
            font-weight: 500;
            display: block;
            padding: 1rem 2rem;
            transition: background 0.15s ease-in-out;
            &:hover {
              background: lighten($darkPurple, 10%);
            }
          }
        }
      }
    }
  }
  @media (min-width: $md) {
    .nav__links {
      .menu-item {
        a {
          font-size: 1rem;
        }
      }
      .menu-item:not(:last-of-type) {
        margin-right: 1.125rem;
      }
    }
  }
}

.header__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: $lightPurple;
  .logo {
    img {
      width: 5rem;
      height: auto;
    }
  }
  .hamburger {
    .open-button {
      background: transparent;
      border: none;
      svg {
        height: 1.25rem;
        width: 1.25rem;
      }
    }
  }
  @media (min-width: $sm) {
    display: none;
  }
}
