.navigation {
  background: $lightPurple;
  padding: 2rem 0 0 0;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      a {
        text-transform: uppercase;
        font-weight: 600;
        color: $veryDarkPurple;
        text-decoration: none;
      }
    }
  }
  @media (min-width: $xs) {
    padding: 4rem 0 0 0;
    ul {
      flex-direction: row;
      gap: 3rem;
    }
  }
}
